build/
.ropeproject/
.eric4project/
contexo.e4p
*.pyc
*~
private/
examples/hello.h
examples/hello.a
examples/msvc.pdb
examples/release
examples/hello_view/hello_modules/hello/output
examples/hello_view/hello_modules/hello_dependency/output
